<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-success">My Messages</h1>
  </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" *ngFor="let message of messages">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><strong>Title:</strong> {{message.title}}</h6>
                </div>
                <div class="card-body">
                    <p><strong>Content:</strong> {{message.content}}</p>
                    <p>
                        <small class="text-muted">Created On: <strong>{{message.createdOn| date:'dd.MM.yyyy hh:mm'}}</strong></small>
                        <br>
                        <small class="text-muted">Modified On: <strong>{{message.modifiedOn| date:'dd.MM.yyyy hh:mm'}}</strong></small>
                    </p>
                    <button class="btn btn-sm btn-warning ml-2" (click)="editMessage(message.id)"> Edit</button>
                    <button class="btn btn-sm btn-danger ml-2" (click)="confirmDelete(message.title, message.id)">Delete</button>
                </div>                
            </div>
        </div>
    </div>
</div>