<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <img class="card-img-top img-thumbnail img-fluid" [src]="message.imageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{message.title}}</h5>
                    <p class="card-text">{{message.content}}</p>
                    <p class="card-text">
                        <small class="text-muted">Author: 
                            <a routerLink="/messages/user/{{message.userId}}">{{message.userName}}</a>
                        </small>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">CreatedOn: 
                            {{message.createdOn}}
                        </small>
                    </p>
                    <a routerLink="/messages/{{message.id}}" class="btn btn-primary">See message info</a>
                </div>
            </div>
        </div>
    </div>
</div>