<div>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <div class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon rotate-n-15">
                    <fa-icon [icon]="faLaughWink"></fa-icon>
                </div>
                <div class="sidebar-brand-text mx-3"><sup>Office </sup>Board</div>
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/">
                    <fa-icon [icon]="faTachometerAlt"></fa-icon>
                    <span> Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <div *ngIf="isAuthenticated()">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Messages
                </div>

                <!-- Nav Item -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages">
                        <fa-icon [icon]="faList"></fa-icon>
                        <span> Messages Board</span>
                    </a>
                </li>

                <!-- Nav Item -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages/create">
                        <fa-icon [icon]="faPlusCircle"></fa-icon>
                        <span> Create New Message</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Tasks
                </div>

                <!-- Nav Item -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tasks">
                        <fa-icon [icon]="faTasks"></fa-icon>
                        <span> Tasks Board</span>
                    </a>
                </li>

                <!-- Nav Item -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tasks/create">
                        <fa-icon [icon]="faPlusCircle"></fa-icon>
                        <span> Create New Task</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Account
                </div>

                <!-- Nav Item -->
                <li class="nav-item">
                    <a class="nav-link" (click)="confirmLogout()">
                        <fa-icon [icon]="faSignOutAlt"></fa-icon>
                        <span> Logout</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
            </div>

            <div *ngIf="!isAuthenticated()">
                <!-- Nav Item -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">
                        <fa-icon [icon]="faSignInAlt"></fa-icon>
                        <span> Login</span>
                    </a>
                </li>

                <!-- Nav Item -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">
                        <fa-icon [icon]="faUserPlus"></fa-icon>
                        <span> Register</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <router-outlet></router-outlet>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; OfficeBoard 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

</div>