<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between m-4">
        <h1 class="h3 mb-0 text-primary"><strong>Tasks Board</strong></h1>
    </div>
</nav>
<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">

        <!-- First Column -->
        <div class="col-lg-4">
            <!-- Custom Text Color Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">TO DO</h6>
                </div>
                <div class="card-body">
                    <div *ngFor="let task of tasks">
                        <div class="card mb-4 py-3 border-left-primary" *ngIf="task.status == 0">
                            <div class="card-body text-center">
                                <p><a routerLink="/tasks/{{task.id}}"><strong>{{task.title}}</strong></a></p>
                                <p>
                                    <small class="text-muted">Created On:
                                        <strong>{{task.createdOn| date:'dd.MM.yyyy'}}</strong>
                                    </small> |
                                    <small class="text-muted">Created By:
                                        <strong>{{task.userName}}</strong>
                                    </small> <br>
                                    <small class="text-muted">Comments: <strong>{{task.commentsCount}}</strong></small>
                                </p>
                                <!-- Circle Buttons (Small) -->
                                <a routerLink="/tasks/{{task.id}}" class="btn btn-primary btn-circle btn-sm ml-4"
                                    title="See Details">
                                    <fa-icon [icon]="faInfo" style="color: white;"></fa-icon>
                                </a>
                                <div *ngIf="this.getUserId() == task.userId" style="display: inline;">
                                    <a (click)="editTask(task.id)" class="btn btn-warning btn-circle btn-sm ml-4"
                                        title="Edit">
                                        <fa-icon [icon]="faEdit" style="color: white;"></fa-icon>
                                    </a>
                                    <a (click)="confirmDelete(task.title, task.id)"
                                        class="btn btn-danger btn-circle btn-sm ml-4" title="Delete">
                                        <fa-icon [icon]="faTrash" style="color: white;"></fa-icon>
                                    </a>
                                </div>
                                <a (click)="changeStatus(task.id, 1)" class="btn btn-secondary btn-circle ml-4"
                                    title="Move To Doing">
                                    <fa-icon [icon]="faArrowRight" style="color: white;"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Column -->
        <div class="col-lg-4">
            <!-- Background Gradient Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-warning">Doing</h6>
                </div>
                <div class="card-body">
                    <div *ngFor="let task of tasks">
                        <div class="card mb-4 py-3 border-left-warning" *ngIf="task.status == 1">
                            <div class="card-body text-center">
                                <p><a routerLink="/tasks/{{task.id}}"><strong>{{task.title}}</strong></a></p>
                                <p>
                                    <small class="text-muted">Created On:
                                        <strong>{{task.createdOn| date:'dd.MM.yyyy'}}</strong>
                                    </small> |
                                    <small class="text-muted">Created By:
                                        <strong>{{task.userName}}</strong>
                                    </small> <br>
                                    <small class="text-muted">Comments: <strong>{{task.commentsCount}}</strong></small>
                                </p>
                                <!-- Circle Buttons (Small) -->
                                <a (click)="changeStatus(task.id, 0)" class="btn btn-secondary btn-circle ml-4"
                                    title="Move to TO DO">
                                    <fa-icon [icon]="faArrowLeft" style="color: white;"></fa-icon>
                                </a>
                                <a routerLink="/tasks/{{task.id}}" class="btn btn-primary btn-circle btn-sm ml-4"
                                    title="See Details">
                                    <fa-icon [icon]="faInfo" style="color: white;"></fa-icon>
                                </a>
                                <div *ngIf="this.getUserId() == task.userId" style="display: inline;">
                                    <a (click)="editTask(task.id)" class="btn btn-warning btn-circle btn-sm ml-4"
                                        title="Edit">
                                        <fa-icon [icon]="faEdit" style="color: white;"></fa-icon>
                                    </a>
                                    <a (click)="confirmDelete(task.title, task.id)"
                                        class="btn btn-danger btn-circle btn-sm ml-4" title="Delete">
                                        <fa-icon [icon]="faTrash" style="color: white;"></fa-icon>
                                    </a>
                                </div>
                                <a (click)="changeStatus(task.id, 2)" class="btn btn-secondary btn-circle ml-4"
                                    title="Move To DONE">
                                    <fa-icon [icon]="faArrowRight" style="color: white;"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third Column -->
        <div class="col-lg-4">
            <!-- Grayscale Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-success">DONE</h6>
                </div>
                <div class="card-body">
                    <div *ngFor="let task of tasks">
                        <div class="card mb-4 py-3 border-left-success" *ngIf="task.status == 2">
                            <div class="card-body text-center">
                                <p><a routerLink="/tasks/{{task.id}}"><strong>{{task.title}}</strong></a></p>
                                <p>
                                    <small class="text-muted">Created On:
                                        <strong>{{task.createdOn| date:'dd.MM.yyyy'}}</strong>
                                    </small> |
                                    <small class="text-muted">Created By:
                                        <strong>{{task.userName}}</strong>
                                    </small> <br>
                                    <small class="text-muted">Comments: <strong>{{task.commentsCount}}</strong></small>
                                </p>
                                <!-- Circle Buttons (Small) -->
                                <a (click)="changeStatus(task.id, 1)" class="btn btn-secondary btn-circle ml-4"
                                    title="Move to Doing">
                                    <fa-icon [icon]="faArrowLeft" style="color: white;"></fa-icon>
                                </a>
                                <a routerLink="/tasks/{{task.id}}" class="btn btn-primary btn-circle btn-sm ml-4"
                                    title="See Details">
                                    <fa-icon [icon]="faInfo" style="color: white;"></fa-icon>
                                </a>
                                <div *ngIf="this.getUserId() == task.userId" style="display: inline;">
                                    <a (click)="editTask(task.id)" class="btn btn-warning btn-circle btn-sm ml-4"
                                        title="Edit">
                                        <fa-icon [icon]="faEdit" style="color: white;"></fa-icon>
                                    </a>
                                    <a (click)="confirmDelete(task.title, task.id)"
                                        class="btn btn-danger btn-circle btn-sm ml-4" title="Delete">
                                        <fa-icon [icon]="faTrash" style="color: white;"></fa-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->