<!-- Begin Page Content -->
<div class="container-fluid mt-4">
    <div class="card o-hidden border-0 shadow-lg">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900">Edit Task</h1>
                            <p class="mb-4"><small>Created On: <strong>{{task.createdOn| date:'dd.MM.yyyy
                                        hh:mm'}}</strong></small>
                            </p>
                        </div>
                        <form class="user" [formGroup]='taskForm'>
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" formControlName="Title">
                            </div>
                            <div *ngIf="title?.touched && title?.errors?.required" class="alert alert-danger">
                                Title is required!
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea rows="6" type="text" class="form-control"
                                    formControlName="Description"></textarea>
                            </div>
                            <div *ngIf="description?.touched && description?.errors?.required"
                                class="alert alert-danger">
                                Description is required!
                            </div>
                            <div class="form-group">
                                <label for="Status">Status</label>
                                <select class="form-control" formControlName="Status">
                                    <option value="0">To Do</option>
                                    <option value="1">Doing</option>
                                    <option value="2">Done</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input hidden type="number" class="form-control" formControlName="Id">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-success btn-user btn-block my-4"
                                        (click)="confirmEdit()">Save changes</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-outline-danger btn-user btn-block my-4"
                                        routerLink="/tasks">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>