<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between m-4">
        <h1 class="h3 mb-0 text-primary"><strong>Edit User Profile</strong></h1>
    </div>
</nav>
<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid mt-4">
    <div class="row ">
        <div class="col-lg-6">
            <div class="text-center">
                <h1 class="h4 text-gray-900">
                    <fa-icon [icon]="faUserEdit"></fa-icon>
                </h1>
            </div>
            <form class="user" [formGroup]='profileForm'>
                <hr>
                <div class="form-group row mt-4">
                    <label class="col-sm-3 col-form-label text-right text-right">Username</label>
                    <div class="col-sm-9 text-left">
                        <input type="text" class="form-control" formControlName="UserName">
                    </div>
                </div>
                <div *ngIf="userName?.touched && userName?.errors?.required" class="alert alert-danger">
                    Username is required!
                </div>
                <div class="form-group row mt-4">
                    <label class="col-sm-3 col-form-label text-right">Email</label>
                    <div class="col-sm-9 text-left">
                        <input type="email" class="form-control" formControlName="Email">
                    </div>
                </div>
                <hr>
                <div class="form-group row mt-4">
                    <label class="col-sm-3 col-form-label text-right">Name</label>
                    <div class="col-sm-9 text-left">
                        <input type="text" class="form-control" formControlName="Name">
                    </div>
                </div>
                <div class="form-group row mt-4">
                    <label class="col-sm-3 col-form-label text-right">Position</label>
                    <div class="col-sm-9 text-left">
                        <input type="text" class="form-control" formControlName="Position">
                    </div>
                </div>
                <div class="form-group row my-4">
                    <label class="col-sm-3 col-form-label text-right">Department</label>
                    <div class="col-sm-9 text-left">
                        <input type="text" class="form-control" formControlName="Department">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <input hidden type="text" class="form-control" formControlName="userId">
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-outline-info" title="View Unchanged" routerLink="/profile/info">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </button>
                    <button type="submit" class="btn btn-outline-success ml-4" title="Save Changes" (click)="confirmEdit()">
                        <fa-icon [icon]="faSave"></fa-icon>
                    </button>                    
                </div>
            </form>
        </div>
    </div>
</div>