<!-- Begin Page Content -->
<div class="container-fluid mt-4">
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">User Info</div>
                        <div class="h5 my-3 font-weight-bold text-gray-800">{{profile.userName}}</div>
                        <p class="text-sm">
                            Name: <strong>{{profile.name}}</strong><br>
                            Email: <strong>{{profile.email}}</strong><br>                            
                            Position: <strong>{{profile.position}}</strong><br>
                            Department: <strong>{{profile.department}}</strong>
                        </p>
                        <!-- Circle Buttons (Small) -->
                    <div *ngIf="this.getUserId() == profile.userId" style="display: inline;">
                        <a routerLink="/profile" class="btn btn-outline-warning btn-circle ml-4"
                            title="Edit Profile">
                            <fa-icon [icon]="faUserEdit"></fa-icon>
                        </a>
                    </div>
                    </div>
                    <div class="col-auto">
                        <fa-icon [icon]="faUserTag" class="fa-5x text-gray-300"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>