<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Messages by <strong>{{messages[0]?.userName}}</strong></h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" *ngFor="let message of messages">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{message.title}}</h6>
                </div>
                <div class="card-body">
                    <p>{{message.content}}</p>
                    <p>
                        <small class="text-muted">Author: <strong>{{message.userName}}</strong> </small> |
                        <small class="text-muted">Created On: <strong>{{message.createdOn| date:'dd.MM.yyyy
                                hh:mm'}}</strong></small>
                    </p>
                    <button routerLink="/messages/{{message.id}}" class="btn btn-sm btn-primary ml-2">See
                        Details</button>
                </div>
            </div>
        </div>
    </div>
</div>